<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %} {% endblock title %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_base.css' %}">
    {% block link %} {% endblock link %}
</head>
<body>

<header class="header">
    <div class="container">
        <div class="header_inner">
            <nav>
                <a href="{% url 'bookblog:school' %}"><p class="nav_link rcorners">School</p></a>
                <a href="{% url 'bookblog:university' %}"><p class="nav_link rcorners">University</p></a>
                <a href="{% url 'bookblog:index' %}"><p class="nav_link" id="logo">B</p></a>
                <a href="{% url 'bookblog:after' %}"><p class="nav_link rcorners">After</p></a>
                <a href="{% url 'bookblog:random_book' %}"><p class="nav_link rcorners">Random</p></a>
            </nav>
        </div>
    </div>
</header>

<div class="search">
    <div class="icon"></div>
    <div class="input">
        <form action="{% url 'bookblog:search' %}" method="get">
            <input type="text" placeholder="Search" name="book_name" id="mysearch">
        </form>
    </div>
</div>

{% block content %}
{% endblock content %}

<script type="text/javascript" src="{% static 'js/search.js' %}"></script>

</body>
</html>
