{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
    <title>After</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_after.css' %}">
</head>

<div class="after_intro">
    <div class="container">
        <div class="after_content">
            <div class="after_header">
                <h1 class="after_title">After</h1>
                <div class="text_bg"></div>
            </div>
            <div class="after_text">
                <p>Life is all about going through upward and all <br> in to pursue our dreams. Don’t let any kind of<br>  obstacle and failure pin you down or push you <br> against your success in life. Fight hard the<br>  battle of life and take the challenges with <br> courage, determination, and perseverance. Just<br>  keep moving forward with hope.</p>
            </div>
            <div id="stick"></div>
            <div class="after_image">
                <img src="{% static 'images/after in circle.png' %}" alt="After in circles">
            </div>
        </div>
    </div>
</div>

<section class="books">
    <div class="container">
        <div class="books_header">
            <h2 class="books_title">Books</h2>
        </div>

        <div class="books_bg"></div>
        <div id="bg_stick"></div>

        <div class="books_list">
            {% for book in page_obj %}
            <div class="list_item">
                <div class="book_img">
                    <a href="{% url 'bookblog:book_details' book.id %}"><img src="{{ book.image.url }}" alt="{{ book.name }} image"></a>
                    <div class="book_info">
                        <a href="{% url 'bookblog:book_details' book.id %}" class="book_name">{{ book.name }}</a>
                        <p>Author: {{ book.author }} <br>
                        Year: {{ book.pub_year }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    {% include 'bookblog/includes/paginator.html' %}
    </div>
</section>
{% endblock content %}

