{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
    <title>After</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_after.css' %}">
</head>

<div class="after_intro">
    <div class="container">
        <div class="after_content">
            <div class="after_header">
                <h1 class="after_title">After</h1>
                <div class="text_bg"></div>
            </div>
            <div class="after_text">
                <p>Life is all about going through upward and all <br> in to pursue our dreams. Don’t let any kind of<br>  obstacle and failure pin you down or push you <br> against your success in life. Fight hard the<br>  battle of life and take the challenges with <br> courage, determination, and perseverance. Just<br>  keep moving forward with hope.</p>
            </div>
            <div id="stick"></div>
            <div class="after_image">
                <img src="{% static 'images/after in circle.png' %}" alt="After in circles">
            </div>
        </div>
    </div>
</div>

<section class="books">
    <div class="container">
        <div class="books_header">
            <h2 class="books_title">Books</h2>
        </div>

        <div class="books_bg"></div>
        <div id="bg_stick"></div>

        <div class="books_list">
            <div class="list_item">
                <div class="book_img">
                    <a href="#"><img src="{% static 'images/brave new world.png' %}" alt="Brave New World image"></a>
                    <div class="book_info">
                        <a href="#" class="book_name">Brave New World</a>
                        <p>Author: Aldous Huxley <br>
                        Year: 1932</p>
                    </div>
                </div>
            </div>
            <div class="list_item">
                <div class="book_img">
                    <a href="#"><img src="{% static 'images/immortality.png' %}" alt="Immortality image"></a>
                    <div class="book_info">
                        <a href="#" class="book_name">Immortality</a>
                        <p>Author: Milan Kundera <br>
                        Year: 1990</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pag_nav">
            <span>1</span>
            <span>2</span>
            <span>3</span>
        </div>
    </div>

</section>
{% endblock content %}

