{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
    <title>Book detail</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_detail.css' %}">
</head>

<div class="detail_intro">
    <div class="container">
        <div class="detail_content">
            <div class="detail_image">
                <img src="{% static 'images/immortality main.png' %}" alt="After in circles">
            </div>
            <div class="detail_header">
                <h1 class="detail_title">Immortality</h1>
                <div class="text_bg"></div>
            </div>
            <div class="detail_text">
                <p>Author: Milan Kundera <br>
                    Year: 1990 <br>
                    Plot: The novel is at times narrated by a self-insertion <br> of 
                    Kundera. At the start, this narrator sees a woman <br>wave and
                    creates the character of Agnes: "I was strangely <br>moved. And
                    then the word Agnes entered my mind. Agnes.<br> I had never 
                    known a woman by that name."<br>
                    <br>
                    Later, the Kundera character says: "A novel shouldn't be <br>like a 
                    bicycle race but a feast of many courses. I am<br> really looking to
                    Part 6. A completely new character<br> will enter the novel. And at 
                    the end of that part he will <br>disappear without a trace. He causes 
                    nothing and leaves<br> no effects. That is precisely what I like about 
                    him. Part 6 <br>will be a novel within a novel, as well as the saddest <br>
                    erotic story I have ever written."</p>
            </div>
            <div id="stick"></div>
        </div>
        <div class="search">
            <div class="icon"></div>
            <div class="input">
                <input type="text" placeholder="Search" name="Search for books" id="mysearch">
            </div>
        </div>
    </div>
</div>

{% endblock content %}
