{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
    <title>Book detail</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_detail.css' %}">
</head>

<div class="detail_intro">
    <div class="container">
        <div class="detail_content">
            <div class="detail_img">
                <img src="{{ book.image.url }}" alt="After in circles">
            </div>
            <div class="detail_header">
                <h1 class="detail_title">{{ book.name }}</h1>
                <p>Author: {{ book.author }} <br>
                    Year: {{ book.pub_year }} <br>
                    Plot: {{ book.plot }}</p>
            </div>
        </div>

        <div class="search">
            <div class="icon"></div>
            <div class="input">
                <input type="text" placeholder="Search" name="Search for books" id="mysearch">
            </div>
        </div>
    </div>
</div>

{% endblock content %}
