{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_index.css' %}">
</head>

<div class="intro">
    <div class="container">
        <img src="{% static 'images/fp bg.png' %}" alt="Books in circles">
        <h1 class="fp_text overlay">Books <br> I have <br> read</h1>
        <h2 class="fp_text overlayed">Books <br> I have <br> read</h2>
        <div class="search">
            <div class="icon"></div>
            <div class="input">
                <input type="text" placeholder="Search" name="Search for books" id="mysearch">
            </div>
        </div>
    </div>
</div>

<section class="interests">
    <div class="container">
        <div class="interests_header">
            <h2 class="interests_title">My interests</h2>
            <h3 class="interests_subtitle">
                so you can find something in common<br>
                and maybe you will like the same books</h3>
        </div>

        <div class="about">
            <div class="about_item">
                <div class="about_img">
                    <img src="{% static 'images/art.png' %}" alt="Art image">
                    <p>Art</p>
                </div>
            </div>
            <div class="about_item">
                <div class="about_img">
                    <img src="{% static 'images/psychology.png' %}" alt="Psychology image">
                    <p>Psychology</p>
                </div>
            </div>
            <div class="about_item">
                <div class="about_img">
                    <img src="{% static 'images/pets.png' %}" alt="Pets image">
                    <p>Pets</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="genres">
    <div class="container">
        <div class="genres_header">
            <h2 class="genres_title">Genres</h2>
        </div>
        <div class="carousel">
            <div class="carousel_item">
                <img src="{% static 'images/novel.png' %}" alt="Novel image">
                <p class="genre_name">Novel</p>
            </div>
            <div class="carousel_item">
                <img src="{% static 'images/anti.png' %}" alt="Anti image">
                <p class="genre_name">Antiutopia</p>
            </div>
            <div class="carousel_item">
                <img src="{% static 'images/detective.png' %}" alt="Detective image">
                <p class="genre_name">Detective</p>
            </div>
            <div class="carousel_item">
                <img src="{% static 'images/horror.png' %}" alt="Horror image">
                <p class="genre_name">Horror</p>
            </div>
            <div class="carousel_item">
                <img src="{% static 'images/scifi.png' %}" alt="Sci-fi image">
                <p class="genre_name">Sci-fi</p>
            </div>
        </div>
    </div>
</section>

<section class="contact">
    <div class="container">
        <div class="block">
            <img src="{% static 'images/hands pic.png' %}" alt="Hands image">
            <p class="fp_text" id="block_qa">Do you want to<br> share your opinion?</p>
            <p class="fp_text" id="block_email">Write me on <br>zikzak200015@gmail.com </p>
        </div>
    </div>
</section>

<footer>
    Copyright C 2022. All rights reserved.
</footer>

<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
{% endblock content %}
