{% extends 'base.html' %}
{% block content %}
{% load static %}
{% block title %}  <title>School</title> {% endblock title %}
{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_school.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
{% endblock link %}

<div class="school_intro">
    <div class="container">
        <div class="school_content">
            <div class="school_header">
                <h1 class="school_title">School times</h1>
                <div class="text_bg"></div>
            </div>
            <div class="school_text">
                <p>School is the traditional place for acculturating <br>children into our national life. In the modern <br> age, the role assigned to our schools is to <br> prepare children for the literate public culture.<br> Some students like school, others don't; but<br> they all study for eleven years and gain <br> knowledge by doing different tasks.</p>
            </div>
            <div id="stick"></div>
            <div class="school_image">
                <img src="{% static 'images/school in circle.png' %}" alt="School in circles">
            </div>
        </div>
    </div>
</div>

<section class="books">
    <div class="container">
        <div class="books_header">
            <h2 class="books_title">Books</h2>
        </div>

        <div class="books_bg"></div>
        <div id="bg_stick"></div>

        <div class="books_list">
            {% for book in first_page %}
            <div class="list_item">
                <div class="book_img">
                    <a href="{% url 'bookblog:book_details' book.id %}"><img src="{{ book.image.url }}" alt="{{ book.name }} image"></a>
                    <div class="book_info">
                        <a href="{% url 'bookblog:book_details' book.id %}" class="book_name">{{ book.name }}</a>
                        <p>Author: {{ book.author }} <br>
                        Year: {{ book.pub_year }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    {% include 'bookblog/includes/paginator.html' %}
    </div>
</section>

{% block script %}
<script>
    $('.page').click(function(event){
        event.preventDefault();

        var chosen_page = $(this).attr('href');
        var current_page = document.getElementById('current_page').textContent;
        var num_pages = document.getElementById('num_pages').textContent;

            $.ajax({
                    type: "POST",
                    url: "{% url 'bookblog:school' %}",
                    data : {
                        chosen_page : chosen_page,
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (response) {
                    $('#current_page').html('');
                    $('.books_list').html('');

                    $.each(response.results, function(i, val) {
                        $('.books_list').append(' \
                            <div class="list_item"> \
                                <div class="book_img"> \
                                    <a href="/bookblog/book_details/' + val.id + '"> \
                                    <img src="/media/' + val.image + '" alt="' + val.name +
                                        'image"></a> \
                                    <div class="book_info"> \
                                        <a href="/bookblog/book_details/' + val.id +
                                        '" class="book_name">' + val.name + '</a> \
                                        <p>Author: ' + val.author + '<br> \
                                        Year: ' + val.pub_year + '</p> \
                                    </div> \
                                </div> \
                            </div>');
                        });

                    $('#current_page').append(chosen_page);

                    if (Number(chosen_page) - Number(current_page) > 0) {
                        document.getElementById("prev_page").href = current_page;
                        document.getElementById("prev_page").classList.remove('hide');
                        if (Number(chosen_page) + Number(1) > Number(num_pages)) {
                            document.getElementById("next_page").classList.add('hide');
                        }
                        else {
                            document.getElementById("next_page").href = Number(chosen_page) + Number(1);
                        }
                    }
                    else if (Number(chosen_page) - Number(current_page) < 0) {
                        if (Number(current_page) - Number(1) === 1){
                            document.getElementById("prev_page").classList.add('hide');
                        }
                        else {
                            document.getElementById("prev_page").href = Number(chosen_page) - Number(1);
                        }
                        document.getElementById("next_page").href = current_page;
                        document.getElementById("next_page").classList.remove('hide');
                    }
                },
                error: function () {
                    alert('Error occurred');
                }
            });
    });
</script>
{% endblock script %}
{% endblock content %}
