<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>School</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/style_school.css">
</head>
<body>

<header class="header">
    <div class="container">
        <div class="header_inner">
            <nav>
                <a href="#"><p class="nav_link rcorners">School</p></a>
                <a href="#"><p class="nav_link rcorners">University</p></a>
                <a href="#"><p class="nav_link" id="logo">B</p></a>
                <a href="#"><p class="nav_link rcorners">After</p></a>
                <a href="#"><p class="nav_link rcorners">Random</p></a>
            </nav>
        </div>
    </div>
</header>

<div class="school_intro">
    <div class="container">
        <div class="school_content">
            <div class="school_header">
                <h1 class="school_title">School times</h1>
                <div class="text_bg"></div>
            </div>
            <div class="school_text">
                <p>School is the traditional place for acculturating <br>children into our national life. In the modern <br> age, the role assigned to our schools is to <br> prepare children for the literate public culture.<br> Some students like school, others don't; but<br> they all study for eleven years and gain <br> knowledge by doing different tasks.</p>
            </div>
            <div id="stick"></div>
            <div class="school_image">
                <img src="../../static/images/school in circle.png" alt="School in circles">
            </div>
        </div>
        <div class="search">
            <div class="icon"></div>
            <div class="input">
                <input type="text" placeholder="Search" name="Search for books" id="mysearch">
            </div>
        </div>
    </div>
</div>

<section class="books">
    <div class="container">
        <div class="books_header">
            <h2 class="books_title">Books</h2>
        </div>

        <div class="books_bg"></div>
        <div id="bg_stick"></div>

        <div class="books_list">
            <div class="list_item">
                <div class="book_img">
                    <a href="#"><img src="../../static/images/algernon pic.png" alt="Algernon image"></a>
                    <div class="book_info">
                        <a href="#" class="book_name">Flowers for Algernon</a>
                        <p>Author: Daniel Keyes <br>
                        Year: 1959</p>
                    </div>
                </div>
            </div>
            <div class="list_item">
                <div class="book_img">
                    <a href="#"><img src="../../static/images/lolita pic.png" alt="Lolita image"></a>
                    <div class="book_info">
                        <a href="#" class="book_name">Lolita</a>
                        <p>Author: Vladimir Nabokov <br>
                        Year: 1955</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pag_nav">
            <span>1</span>
            <span>2</span>
            <span>3</span>
        </div>
    </div>

</section>

<script type="text/javascript" src="../../static/js/search.js"></script>

</body>
</html>
