{% extends 'base.html' %}
{% block content %}
{% load static %}
{% block title %}  <title>School</title> {% endblock title %}
{% block link %} <link rel="stylesheet" type="text/css" href="{% static 'css/style_school.css' %}"> {% endblock link %}

<div class="school_intro">
    <div class="container">
        <div class="school_content">
            <div class="school_header">
                <h1 class="school_title">School times</h1>
                <div class="text_bg"></div>
            </div>
            <div class="school_text">
                <p>School is the traditional place for acculturating <br>children into our national life. In the modern <br> age, the role assigned to our schools is to <br> prepare children for the literate public culture.<br> Some students like school, others don't; but<br> they all study for eleven years and gain <br> knowledge by doing different tasks.</p>
            </div>
            <div id="stick"></div>
            <div class="school_image">
                <img src="{% static 'images/school in circle.png' %}" alt="School in circles">
            </div>
        </div>
    </div>
</div>

<section class="books">
    <div class="container">
        <div class="books_header">
            <h2 class="books_title">Books</h2>
        </div>

        <div class="books_bg"></div>
        <div id="bg_stick"></div>

        <div class="books_list">
            {% for book in page_obj %}
            <div class="list_item">
                <div class="book_img">
                    <a href="{% url 'bookblog:book_details' book.id %}"><img src="{{ book.image.url }}" alt="Algernon image"></a>
                    <div class="book_info">
                        <a href="{% url 'bookblog:book_details' book.id %}" class="book_name">{{ book.name }}</a>
                        <p>Author: {{ book.author }} <br>
                        Year: {{ book.pub_year }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    {% include 'bookblog/includes/paginator.html' %}
    </div>
</section>
{% endblock content %}
