{% extends 'base.html' %}
{% block content %}
{% load static %}
<head>
    <title>University</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_university.css' %}">
</head>

<div class="university_intro">
    <div class="container">
        <div class="university_content">
            <div class="university_header">
                <h1 class="university_title">University</h1>
                <div class="text_bg"></div>
            </div>
            <div class="university_text">
                <p>At the University, we strive to be an attractive <br> higher education institution that maintains <br>high quality in all we do. The University has <br>approximately 18,300 students and 800<br> employees. In collaboration with the business <br>community and the public sector, we conduct <br>education and research of high international.</p>
            </div>
            <div id="stick"></div>
            <div class="university_image">
                <img src="{% static 'images/univ in circle.png' %}" alt="University in circles">
            </div>
        </div>
        <div class="search">
            <div class="icon"></div>
            <div class="input">
                <input type="text" placeholder="Search" name="Search for books" id="mysearch">
            </div>
        </div>
    </div>
</div>

<section class="books">
    <div class="container">
        <div class="books_header">
            <h2 class="books_title">Books</h2>
        </div>

        <div class="books_bg"></div>
        <div id="bg_stick"></div>

        <div class="books_list">
            <div class="list_item">
                <div class="book_img">
                    <a href="#"><img src="{% static 'images/1984.png' %}" alt="1984 image"></a>
                    <div class="book_info">
                        <a href="#" class="book_name">1984</a>
                        <p>Author: Jorj Oruell <br>
                        Year: 1949</p>
                    </div>
                </div>
            </div>
            <div class="list_item">
                <div class="book_img">
                    <a href="#"><img src="{% static 'images/lord of the flies.png' %}" alt="Lord of the Flies image"></a>
                    <div class="book_info">
                        <a href="#" class="book_name">Lord of the Flies</a>
                        <p>Author: William Golding <br>
                        Year: 1954</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pag_nav">
            <span>1</span>
            <span>2</span>
            <span>3</span>
        </div>
    </div>

</section>

{% endblock content %}
